{% extends "base.html" %}
{% block content %}
<!----Top Genres Section Start---->
<div class="ms_genres_wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="ms_heading">
                <h1>Top Genres</h1>
                <span class="veiw_all"><a href="#">view more</a></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ms_genres_box">
                <img src="{{ url_for('static', filename='images/jazz.jpeg') }}" alt="" class="img-fluid" />
                <div class="ms_main_overlay">
                    <div class="ms_box_overlay"></div>
                    <form action="{{ url_for('main.genres_single', genre_id=7) }}" method="GET">
                        <div class="ms_play_icon">
                            <button class="btn" style="background-color:transparent"><img
                                    src="{{ url_for('static', filename='images/svg/play.svg') }}" alt=""></button>
                        </div>
                    </form>
                    <div class="ovrly_text_div">
                        <span class="ovrly_text1"><a href="#">Jazz</a></span>
                        <span class="ovrly_text2"><a href="#">view song</a></span>
                    </div>
                </div>
                <div class="ms_box_overlay_on">
                    <div class="ovrly_text_div">
                        <span class="ovrly_text1"><a href="#">Jazz</a></span>
                        <span class="ovrly_text2"><a href="#">view song</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ms_genres_box">
                        <img src="{{ url_for('static', filename='images/pop.jpg') }}" alt="" class="img-fluid" />
                        <div class="ms_main_overlay">
                            <div class="ms_box_overlay"></div>
                            <form action="{{ url_for('main.genres_single', genre_id=1) }}" method="GET">
                                <div class="ms_play_icon">
                                    <button class="btn" style="background-color:transparent"><img
                                            src="{{ url_for('static', filename='images/svg/play.svg') }}"
                                            alt=""></button>
                                </div>
                            </form>
                            <div class="ovrly_text_div">
                                <span class="ovrly_text1"><a href="#">Pop</a></span>
                            </div>
                        </div>
                        <div class="ms_box_overlay_on">
                            <div class="ovrly_text_div">
                                <span class="ovrly_text1"><a href="#">Pop</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ms_genres_box">
                        <img src="{{ url_for('static', filename='images/folk.jpg') }}" alt="" class="img-fluid" />
                        <div class="ms_main_overlay">
                            <div class="ms_box_overlay"></div>
                            <form action="{{ url_for('main.genres_single', genre_id=2) }}" method="GET">
                                <div class="ms_play_icon">
                                    <button class="btn" style="background-color:transparent"><img
                                            src="{{ url_for('static', filename='images/svg/play.svg') }}"
                                            alt=""></button>
                                </div>
                            </form>
                            <div class="ovrly_text_div">
                                <span class="ovrly_text1"><a href="#">Folk</a></span>
                            </div>
                        </div>
                        <div class="ms_box_overlay_on">
                            <div class="ovrly_text_div">
                                <span class="ovrly_text1"><a href="#">Folk</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ms_genres_box">
                        <img src="{{ url_for('static', filename='images/metal.jpg') }}" alt="" class="img-fluid" />
                        <div class="ms_main_overlay">
                            <div class="ms_box_overlay"></div>
                            <form action="{{ url_for('main.genres_single', genre_id=3) }}" method="GET">
                                <div class="ms_play_icon">
                                    <button class="btn" style="background-color:transparent"><img
                                            src="{{ url_for('static', filename='images/svg/play.svg') }}"
                                            alt=""></button>
                                </div>
                            </form>
                            <div class="ovrly_text_div">
                                <span class="ovrly_text1"><a href="#">Metal</a></span>
                            </div>
                        </div>
                        <div class="ms_box_overlay_on">
                            <div class="ovrly_text_div">
                                <span class="ovrly_text1"><a href="#">Metal</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ms_genres_box">
                        <img src="{{ url_for('static', filename='images/stage.jpg') }}" alt="" class="img-fluid" />
                        <div class="ms_main_overlay">
                            <div class="ms_box_overlay"></div>
                            <form action="{{ url_for('main.genres_single', genre_id=4) }}" method="GET">
                                <div class="ms_play_icon">
                                    <button class="btn" style="background-color:transparent"><img
                                            src="{{ url_for('static', filename='images/svg/play.svg') }}"
                                            alt=""></button>
                                </div>
                            </form>
                            <div class="ovrly_text_div">
                                <span class="ovrly_text1"><a href="#">Stage</a></span>
                            </div>
                        </div>
                        <div class="ms_box_overlay_on">
                            <div class="ovrly_text_div">
                                <span class="ovrly_text1"><a href="#">Stage</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ms_genres_box">
                <img src="{{ url_for('static', filename='images/rap.jpg') }}" alt="" class="img-fluid" />
                <div class="ms_main_overlay">
                    <div class="ms_box_overlay"></div>
                    <form action="{{ url_for('main.genres_single', genre_id=5) }}" method="GET">
                        <div class="ms_play_icon">
                            <button class="btn" style="background-color:transparent"><img
                                    src="{{ url_for('static', filename='images/svg/play.svg') }}" alt=""></button>
                        </div>
                    </form>
                    <div class="ovrly_text_div">
                        <span class="ovrly_text1"><a href="#">Rap</a></span>
                    </div>
                </div>
                <div class="ms_box_overlay_on">
                    <div class="ovrly_text_div">
                        <span class="ovrly_text1"><a href="#">Rap</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}