{% extends "base.html" %}
{% block content %}
<div class="ms-banner" style="margin-top: 30px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="ms_banner_img">
                    <img src="{{ url_for('static', filename='images/albums/2004.jpg') }}" alt="" class="img-fluid">
                </div>
                <div class="ms_banner_text">
                    <h1>This Month’s</h1>
                    <h1 class="ms_color">Record Breaking Albums !</h1>
                    <p>Выходные, Карман , Колёса, Москва любит, Не твоё,
                        Ок, ок<br> and many more...</p>
                    <div class="ms_banner_btn">
                        <a href="{{ url_for('main.album_single', album_id=21) }}" class="ms_btn">
                            Listen Now
                        </a>
                        <a href="#" class="ms_btn">Add To
                            Queue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---Weekly Top 15--->
<div class="ms_weekly_wrapper">
    <div class="ms_weekly_inner">
        <div class="row">
            <div class="col-lg-12">
                <div class="ms_heading">
                    <h1>top 15</h1>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 padding_right40">
                {% for i in range(musics|length - 10) %}
                <div class="ms_weekly_box">
                    <div class="weekly_left">
                        <span class="w_top_no">
                            0{{ loop.index}}
                        </span>
                        <div class="w_top_song">
                            <div class="w_tp_song_img">
                                <img src="{{ url_for('static', filename=musics[i].album_img) }}" alt=""
                                    class="img-fluid">
                                <div class="ms_song_overlay">
                                </div>
                                <div class="ms_play_icon playing" music_source="{{ musics[i].music_source }}"
                                    musics="{{ musics }}" music_id="{{ musics[i].id }}"
                                    artist_name="{{ musics[i].name }}" music_title="{{ musics[i].music_title }}"
                                    album_img="{{ musics[i].album_img }}">
                                    <img src="{{ url_for('static', filename='images/svg/play.svg') }}" alt="">
                                </div>
                            </div>
                            <div class="w_tp_song_name">
                                <h3><a href="#">{{ musics[i].music_title }}</a></h3>
                                <a href="/artists/{{musics[i].artist_id}}">
                                    <p class="artist_link">{{ musics[i].name }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if current_user.is_authenticated %}
                    <div class="weekly_right">
                        <i class="fv_btn btn text-white fa-heart {{ 'far' if musics[i].is_favourite == None else 'fas' }}"
                            music_id="{{ musics[i].id }}"></i>
                    </div>
                    <div class="weekly_right">
                        <li class="text-center ms_more_icon"><a href="javascript:;"><span
                                    class="ms_icon1 ms_active_icon icon_playlist"></span></a>
                            <ul class="more_option">
                                {% for playlist in playlists %}
                                <li class="pl_btn" playlist_id="{{ playlist.id }}" music_id="{{ music.id }}"><a
                                        href="#"><span class="opt_icon"><span
                                                class="icon icon_playlst"></span></span>{{ playlist.playlist_name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </div>
                    {% else %}
                    <div class="weekly_right">
                        <i class="far fa-heart text-white" style="font-size: 24px"></i>
                    </div>
                    {% endif %}
                </div>
                <div class="ms_divider"></div>
                {% endfor %}
            </div>
            <div class="col-lg-4 col-md-12 padding_right40">
                {% for i in range(musics|length - 10) %}
                <div class="ms_weekly_box">
                    <div class="weekly_left">
                        <span class="w_top_no">
                            {% if (loop.index + 5) == 10 %}
                            {{ loop.index + 5 }}
                            {% else %}
                            0{{ loop.index + 5 }}
                            {% endif %}
                        </span>
                        <div class="w_top_song">
                            <div class="w_tp_song_img">
                                <img src="{{ url_for('static', filename=musics[i + 5].album_img) }}" alt=""
                                    class="img-fluid">
                                <div class="ms_song_overlay">
                                </div>
                                <div class="ms_play_icon playing" music_source="{{ musics[i + 5].music_source }}"
                                    musics="{{ musics }}" music_id="{{ musics[i + 5].id }}"
                                    artist_name="{{ musics[i + 5].name }}" music_title="{{ musics[i + 5].music_title }}"
                                    album_img="{{ musics[i + 5].album_img }}">
                                    <img src="{{ url_for('static', filename='images/svg/play.svg') }}" alt="">
                                </div>
                            </div>
                            <div class="w_tp_song_name">
                                <h3><a href="#">{{ musics[i + 5].music_title }}</a></h3>
                                <a href="/artists/{{musics[i + 5].artist_id}}">
                                    <p class="artist_link">{{ musics[i + 5].name }}</p>
                                </a>

                            </div>
                        </div>
                    </div>
                    {% if current_user.is_authenticated %}
                    <div class="weekly_right">
                        <i class="fv_btn btn text-white fa-heart {{ 'far' if musics[i + 5].is_favourite == None else 'fas' }}"
                            music_id="{{ musics[i + 5].id }}"></i>
                    </div>
                    {% else %}
                    <div class="weekly_right">
                        <i class="far fa-heart text-white" style="font-size: 24px"></i>
                    </div>
                    {% endif %}
                </div>
                <div class="ms_divider"></div>
                {% endfor %}
            </div>
            <div class="col-lg-4 col-md-12">
                {% for i in range(musics|length - 10) %}
                <div class="ms_weekly_box">
                    <div class="weekly_left">
                        <span class="w_top_no">
                            {{ loop.index + 10 }}
                        </span>
                        <div class="w_top_song">
                            <div class="w_tp_song_img">
                                <img src="{{ url_for('static', filename=musics[i + 10].album_img) }}" alt=""
                                    class="img-fluid">
                                <div class="ms_song_overlay">
                                </div>
                                <div class="ms_play_icon playing" music_source="{{ musics[i + 10].music_source }}"
                                    musics="{{ musics }}" music_id="{{ musics[i + 10].id }}"
                                    artist_name="{{ musics[i + 10].name }}"
                                    music_title="{{ musics[i + 10].music_title }}"
                                    album_img="{{ musics[i + 10].album_img }}">
                                    <img src="{{ url_for('static', filename='images/svg/play.svg') }}" alt="">
                                </div>
                            </div>
                            <div class="w_tp_song_name">
                                <h3><a href="#">{{ musics[i + 10].music_title }}</a></h3>
                                <a href="/artists/{{musics[i + 10].artist_id}}">
                                    <p class="artist_link">{{ musics[i + 10].name }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if current_user.is_authenticated %}
                    <div class="weekly_right">
                        <i class="fv_btn btn text-white fa-heart {{ 'far' if musics[i + 10].is_favourite == None else 'fas' }}"
                            music_id="{{ musics[i + 10].id }}"></i>
                    </div>
                    {% else %}
                    <div class="weekly_right">
                        <i class="far fa-heart text-white" style="font-size: 24px"></i>
                    </div>
                    {% endif %}
                </div>
                <div class="ms_divider"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!---Artists Music--->
<div class="ms_featured_slider">
    <div class="ms_heading">
        <h1>Independent Artists</h1>
        <span class="veiw_all"><a href="{{ url_for('main.artist')}}">view more</a></span>
    </div>
    <div class="ms_artist_slider swiper-container">
        <div class="swiper-wrapper">
            {% for artist in artists %}
            <div class="swiper-slide">
                <div class="ms_rcnt_box">
                    <div class="ms_rcnt_box_img">
                        <img src="{{ url_for('static', filename=artist.image) }}" alt="">
                        <div class="ms_main_overlay">
                            <div class="ms_box_overlay"></div>
                            <div class="ms_more_icon">
                                <img src="{{ url_for('static', filename='images/svg/more.svg') }}" alt="">
                            </div>
                            <form action="{{ url_for('main.single_artist', artist_id=artist.id) }}" method="GET">
                                <div class="ms_play_icon">
                                    <button class="btn" style="background-color:transparent"><img
                                            src="{{ url_for('static', filename='images/svg/play.svg') }}"
                                            alt=""></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ms_rcnt_box_text">
                        <h3><a href="#">{{ artist.name }}</a></h3>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="swiper-button-next5 slider_nav_next"></div>
    <div class="swiper-button-prev5 slider_nav_prev"></div>
</div>
<!----Add Section Start---->
<div class="ms_advr_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href="#"><img src="{{ url_for('static', filename='images/adv1.png') }}" alt=""
                        class="img-fluid" /></a>
            </div>
        </div>
    </div>
</div>
<!----New Releases Section Start---->
<div class="ms_releases_wrapper">
    <div class="ms_heading">
        <h1>New Releases</h1>
    </div>
    <div class="ms_release_slider swiper-container">
        <div class="ms_divider"></div>
        <div class="swiper-wrapper">
            {% for music in new_musics %}
            <div class="swiper-slide">
                <div class="ms_release_box">
                    <div class="w_top_song">
                        <span class="slider_dot"></span>
                        <div class="w_tp_song_img">
                            <img src="{{ url_for('static', filename=music.album_img) }}" alt="">
                            <div class="ms_song_overlay">
                            </div>
                            <!-- <div class="ms_play_icon">
                                <img src="{{ url_for('static', filename='images/svg/play.svg') }}" alt="">
                            </div> -->
                            <div class="ms_play_icon playing" musics="{{ musics }}"
                                music_source="{{ music.music_source }}" artist_name="{{ music.name }}"
                                music_title="{{ music.music_title }}" music_id="{{music.id}}"
                                album_img="{{ music.album_img }}">
                                <img src="{{ url_for('static', filename='images/svg/play.svg') }}" alt="">
                            </div>
                        </div>
                        <div class="w_tp_song_name">
                            <h3><a href="#">{{ music.music_title }}</a></h3>
                            <a href="/artists/{{music.artist_id}}">
                                <p class="artist_link">{{ music.name }}</p>
                            </a>
                        </div>
                    </div>
                    <div class=" weekly_right">
                        <span class="w_song_time jp-duration" role="timer" aria-label="duration"></span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="swiper-button-next2 slider_nav_next"></div>
    <div class="swiper-button-prev2 slider_nav_prev"></div>
</div>
<!----Featured Albumn Section Start---->
<div class="ms_fea_album_slider">
    <div class="ms_heading">
        <h1>Featured Albums</h1>
        <span class="veiw_all"><a href="{{url_for('main.album')}}">view more</a></span>
    </div>
    <div class="ms_album_slider swiper-container">
        <div class="swiper-wrapper">
            {% for album in albums %}
            <div class="swiper-slide">
                <div class="ms_rcnt_box">
                    <div class="ms_rcnt_box_img">
                        <img src="{{ url_for('static', filename=album.album_img) }}" alt="">
                        <div class="ms_main_overlay">
                            <div class="ms_box_overlay"></div>
                            <div class="ms_more_icon">
                                <img src="{{ url_for('static', filename='images/svg/more.svg') }}" alt="">
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To
                                        Favourites</a>
                                </li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add
                                        To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span
                                                class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add
                                        To Playlist</a>
                                </li>
                                <li><a href="#"><span class="opt_icon"><span
                                                class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                            <form action="{{ url_for('main.album_single', album_id=album.id) }}" method="GET">
                                <div class="ms_play_icon">
                                    <button class="btn" style="background-color:transparent"><img
                                            src="{{ url_for('static', filename='images/svg/play.svg') }}"
                                            alt=""></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ms_rcnt_box_text">
                        <h3><a href="#">{{ album.album_title }}</a></h3>
                        <a href="/artists/{{album.artist_id}}">
                            <p class="artist_link">{{ album.name }}</p>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="swiper-button-next3 slider_nav_next"></div>
    <div class="swiper-button-prev3 slider_nav_prev"></div>
</div>
<!----Top Genres Section Start---->
<div class="ms_advr_wrapper ms_advr2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href="#"><img src="{{ url_for('static', filename='images/adv.png') }}" alt=""
                        class="img-fluid" /></a>
            </div>
        </div>
    </div>
</div>
<div class="">
    <script>
        $(document).ready(function () {
            $('.fv_btn').click(function () {
                let el = $(this)
                let action = 'add';
                let firstClass = 'far';
                let secondClass = 'fas';

                if (el.hasClass('fas')) {
                    action = 'remove';
                    firstClass = 'fas';
                    secondClass = 'far';
                }
                $.ajax({
                    type: "POST",
                    url: "/favourites/" + action,
                    data: {
                        music_id: $(this).attr("music_id")
                    },
                    success: function (resp) {
                        el.removeClass(firstClass).addClass(secondClass)
                    },
                    error: function (error) {
                        console.log(error)
                    }
                })
            })
        })
    </script>
</div>
{% endblock %}